/* for task 3  */
.style__gallery {
  display: flex;
  flex-direction: row;

  margin: -5px;
  padding: 0;

  list-style: none;
}
.image__item img {
  margin: 5px;
}

/* for task 6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
